{% extends "base.html" %}
{% load static %}
{% block content %}

    <div class="page-container">

        {% include 'duplicate_sections/category_filter.html' %}

        <p id="customers-list">Customers List:</p>

        <table>
            <tr>
                <th>ID</th>
                <th>UserName</th>
                <th>Name</th>
                <th>LastName</th>
                <th>JoinDate</th>
                <th>LastLogin</th>
            </tr>

            {% for costumer in costumers %}
                <tr onclick="window.location='{% url 'homepage:single' costumer.id %}'" class="click-row">
                    <td>{{ costumer.id }}</td>
                    <td>{{ costumer.username }}</td>
                    <td>{{ costumer.name }}</td>
                    <td>{{ costumer.lastname }}</td>
                    <td>{{ costumer.join_at }}</td>
                    <td>{{ costumer.last_login }}</td>
                </tr>
            {% endfor %}

        </table>

    </div>

{% endblock %}
